body{
    margin:0%;
    background-attachment: fixed;
    width: 100%;
    background-image: url(../HTML/61147129-jeune-femme-drôle-crier-et-jeter-un-oeil-par-derrière-un-bureau-avec-un-ordinateur-portable-ouvert-sur-le.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
header{
    width:100%;
    background-color: white;
    position: sticky;
    top:0;
}
header>div>p{
    display: inline-block;
}
#bureau{
    float: right;
}
#section1{
    margin-top: 150px;
}
#titre{
    text-align: center;
    color: rgb(87, 81, 81);
    font-size: xx-large;
}
#image div{
    display: inline;
}
#image{
    text-align: center;
}
#section2{
    margin-top:300px;
    width:100%;
    background-color: white;
    display: inline-block;
    margin-bottom: 0px;
}
#image2{
    width: 45%;
    display: inline-block;
    text-align: right;
    padding: 50px;
}   
#titre2{
    width:45%;
    display: inline-block;
    margin-right: 45px;
}
#section3{
    width: 100%;
    background-color: gray;
}
footer{
    width:100%;
    background-color: black;
}

svg{
    width:2%;
    background-color: blanchedalmond;
}
#section3{
    text-align: center;
    margin:0;
    padding:45px;
}
#section3>h2{
    margin:0;
}
article{
    width:15%;
    background-color: white;
    display: inline-block;
    text-align: center;
    margin-right: 25px;
    margin-top:25px;
    padding:35px;
}